html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; /*1REM = 10px*/
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  background-color: #e2dede;
}

.app-container {
  width: 90%;
  height: 100vh;
  margin: 8rem auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
}

.row label {
  width: 10rem;
}

.button {
  margin: 3rem 0;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  background-color: yellowgreen;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(0.97);
}

.suggestion-container {
  width: 80%;
  margin: 0 auto;
}

.suggestion-heading {
  text-align: center;
  padding-top: 3rem;
}

.suggestion-name {
  font-weight: 600;
}

.suggestion {
  width: 50%;
  height: auto;
  margin: 1.5rem auto;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #f8c182;
  transition: all 0.3s cubic-bezier(0.36, 0, 0.66, -0.56);
  box-shadow: 2px 3px 4px #9c9c9c;
}

.suggestion:hover {
  transform: scale(0.97);
  box-shadow: 1px 2px 2px #9c9c9c;
}

.suggestion:nth-child(odd) {
  background-color: #85d3cc;
}

.suggestion-number {
  font-size: 3rem;
  width: 10rem;
}

.suggestion-details {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.suggestion-picture {
  width: 6rem;
  border-radius: 1rem;
}

.suggestion-description {
  margin-top: 1rem;
}

.suggestion-description:nth-child(2) {
  font-style: italic;
}

.suggestion-description p {
  font-size: 1.2rem;
  margin: 3px;
}

.suggestion-date-added {
  font-style: italic;
}
